body {
  background-image: url(portal/pictures/background.jpg);
  text-align: center;
  margin: auto;
}

#indexLog, h1 {
  color: #97BC62FF;
  margin: 0;
  overflow: hidden;
  background-color: black;
  padding: 14px 16px;
  text-align: center;
}

.forms {
  text-align: center;
  display: inline-block;
  overflow-wrap: break-word;
}

.credentialStyle {
  color: #97BC62FF;
  margin: 0;
  padding: 0px 0px 20px;
  font-size: 20px;
  text-shadow: .5px .5px 0 #000;
}

.submit, .userSubmit, .examTakeButtons, .examReviewButtons {  
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 12px;
  box-shadow: 0 9px #1C7F20;
  margin: 10px 0px;
}

.submit:hover, .userSubmit:hover { 
  background-color: #3e8e41;
  box-shadow: 0 9px #1C7F20;
}

.submit:active, .userSubmit:active { 
  box-shadow: 0 5px #1C7F20;
  transform: translateY(4px)
}

#createQuestionForm {
  padding: 10px;
  text-align: center;
}

div {
  border-radius: 5px;
  background-color: #a2a2a2;
  background-image: url(portal/pictures/divimage.jpg);
  padding: 20px;
  text-align: center;
  display: inline-block;
  max-width: 750px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centeredsearch {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: inline-block;
}

.left {
  left: 0;
  display: inline-block;
}


.right {
  right: 0;
  display: inline-block;
}

.split {
  height: 100%;
  width: 50%;
  position: absolute;
  z-index: 1;
  overflow-x: hidden;
}

table {
  border: 1px solid;
  width: 100%;
}